.header {
    height: 70px;
    flex-shrink: 0;
    background: #272822;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid #333;
    padding: 0 15px;
    gap: 15px;
}

.button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 4px;
    color: white;
    background: #333;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.button:hover {
    background-color: #444;
}

.camera {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    z-index: 1111;
}